.collections-box {
  position: relative;
  // height: 395px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.46);
  }

  & img {
    display: block;
    width: 100%;
    height: auto;
  }

  & .colections-info {
    position: absolute;
    color: #ffffff;
    font-weight: 300;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;

    & h1,
    h2 {
      color: #ffffff;
      font-size: 65px;
      font-weight: $Medium;
    }
  }
}

.collections-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 50px;

  & .btn-box {
    flex: 0 0 100%;
    margin-top: 50px;

    & .btn {
      display: block;
      margin: auto;
      text-transform: uppercase;
    }
  }

  & .collections-item {
    display: block;
    flex: 0 0 24.925%;
    height: 366px;
    overflow: hidden;
    margin-bottom: 1px;

    & img {
      display: block;
      width: 100%;
      height: auto;
    }

    &:hover img {
      transform: scale(1.03);
    }
  }
}
